@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* 
* {
    padding: 0;
    margin: 0;
}  */

body {
    font-family: Open sans;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.navbar .nav-title {
    font-weight: 800;
    font-size: 45px;
}

.navbar .nav-title span {
    color: #FD6E0A;
}

.navbar ul li {
    list-style: none;
    margin-right: 51px;
}

.navbar ul li a{
    text-decoration: none;
    color: #474747;
}

.navbar ul {
    display: flex;
    align-items: center;

}

.navbar .btn {
    background-color: #FD6E0A;
    color: white;
    width: 150px;
    height: 64px;
    font-family: Open sans;
    font-weight: bold;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.banner .banner-content .sub-title {
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 600px;
    color: rgb(71, 71, 71);
    margin-bottom: 5px;
}

.banner .banner-content .name {
    font-family: Open Sans;
    font-size: 85px;
    font-weight: 700;
    color: rgb(24, 24, 24);
    margin-bottom: 20px;
}

.banner .banner-content .description {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    color: rgb(117, 117, 117);
    margin-bottom: 30px;
}

.banner-content .download-btn {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    background: rgb(253, 110, 10);
    width: 200px;
    height: 64px;
    border: none;
    cursor: pointer;
}

.banner-content .contact-btn {
    color: rgb(253, 110, 10);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    width: 160px;
    height: 64px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    cursor: pointer;
}

.banner-content .banner-picture {
    width: 584px;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.banner-content {
    width: 585px;
}

.header {
    background-image: url(images/developer.png),url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: rgb(255, 248, 243);
}
main section {
    margin-top: 130px;
    margin-bottom: 130px;
}
.about {
    border-radius: 10px;
    background: rgb(255, 248, 243);
    padding: 130px 150px;
    
}
.about .title {
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: rgb(24, 24, 24);
}

.about .about-description {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: rgb(117, 117, 117);
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about .about-items .title {
    font-family: Open Sans;
    font-size: 16px;
    color: rgb(117, 117, 117);
}

.about .about-items .about-item .description{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    color: rgb(71, 71, 71);
}

.about .about-items {
    display: flex;
    justify-content: space-around;
}

.about .about-border {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.skill .skill-title {
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: rgb(24, 24, 24);
}

.skill .skill-description {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

/* .skill {
    padding: 130px 150px;
} */

.skill-container .sk .sk-title {
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
}

.skill-container .sk .sk-description {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill-container .sk {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    
}